/* HEADER SECTION AND HERO */
.hero-h1 {
  letter-spacing: 5px;
  font-weight: 600;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.icon-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 35px;
  transition: .4s;
}

.icon-btn:hover {
  transform: scale(2);
}

.hero-h4 {
  letter-spacing: 1px;
}

/* HEADER SECTION AND HERO */

/* NAV SECTION */

.nav-item-b {
  padding-left: 45px;
}

.nav-item-b {
  padding-right: 20px;
}

/* NAV SECTION */

/* GETTING STARTED SECTION */

.code-one {
  background-color: #001d37;
  /* height: 170px;
  margin: 10px 80px; */
  border-radius: 10px;
}

.code-two {
  background-color: #001d37;
  border-radius: 10px;
}

.tittles h3 {
  color: #34495E;
  font-size: 30px;
  margin: 30px 0px;
  letter-spacing: 0.7px;
}

.tittles h6 {
  color: #34495E;
  font-size: 20px;
  margin: 30px 0px;
  letter-spacing: 0.3px;
}

/* .sub-tittles h6 {
  margin: 20px 0px 30px;
} */

.lead2 {
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.46428571;
  font-weight: 300;
}

.lead3 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 19px;
  color: #8D8D8D;
  line-height: 1.46428571;
  font-weight: 300;
}

/* GETTING STARTED SECTION */